services:
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:Z
      - ./certs:/certs:ro,Z
      - caddy_data:/data
    networks:
      - stack-net

  api:
    image: duckautomata/live-transcript-server:latest
    restart: always
    ports:
      - "8080:8080" # used to directly connect to the API for uploading media so we don't go through Cloudflare.
    volumes:
      - ./config/live-transcript.yaml:/app/config.yaml:ro,Z
      - ./data/api:/app/tmp:Z
    networks:
      - stack-net

  archive:
    image: duckautomata/archived-transcript-server:latest
    restart: always
    volumes:
      - ./config/archived-transcript.yaml:/app/config.yaml:ro,Z
      - ./data/archive:/app/tmp:Z
    networks:
      - stack-net

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:Z
      - ./data/prometheus:/prometheus:Z
    networks:
      - stack-net

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    volumes:
      - ./data/grafana:/var/lib/grafana:Z
      - ./config/grafana_datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:Z
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.duck-automata.com/
    networks:
      - stack-net

  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    command: -H unix:///bitnami/docker/docker.sock
    volumes:
      - /run/user/${UID}/docker.sock:/bitnami/docker/docker.sock:Z
      - ./data/portainer:/data:Z
    networks:
      - stack-net

  loki:
    image: grafana/loki:latest
    restart: unless-stopped
    volumes:
      - ./config/loki.yaml:/etc/loki/local-config.yaml:Z
    networks:
      - stack-net

  promtail:
    image: grafana/promtail:latest
    restart: unless-stopped
    volumes:
      - ./config/promtail.yaml:/etc/promtail/config.yml:Z
      - ./data/api:/var/log/api:ro,Z
      - ./data/archive:/var/log/archive:ro,Z
    networks:
      - stack-net

volumes:
  caddy_data:

networks:
  stack-net:
    driver: bridge
