# Define a snippet for security headers
(secure) {
    header {
        Strict-Transport-Security "max-age=43200; includeSubDomains; preload"
        X-Frame-Options "DENY"
    }
    encode gzip
}

(secure_admin) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "DENY"
    }
    basic_auth {
        admin $2a$14$your_long_hash_string_here...
    }
}

portainer.duck-automata.com {
    import secure_admin
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy portainer:9000
}

api.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy api:8080
}

archive.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy archive:8080
}

grafana.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy grafana:3000
}
