# Define a snippet for security headers
(secure) {
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }
    encode zstd gzip
}

portainer.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy portainer:9000
}

api.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy api:8080
}

archive.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy archive:8080
}

grafana.duck-automata.com {
    import secure
    tls /certs/cloudflare.crt /certs/cloudflare.key
    reverse_proxy grafana:3000
}
