server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: api_logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: api
      __path__: /var/log/api/*.log
  pipeline_stages:
  - json:
      expressions:
        level: level
        time: time
        msg: msg
  - labels:
      level:
  - timestamp:
      source: time
      format: RFC3339

- job_name: archive_logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: archive
      __path__: /var/log/archive/*.log
  pipeline_stages:
  - json:
      expressions:
        level: level
        time: time
        msg: msg
  - labels:
      level:
  - timestamp:
      source: time
      format: RFC3339
